Footer.footer
  .container-fluid
    .row.suscribe
      .col-sm-12
        form
          label Suscríbete a nuestro Newsletter
          input(type="mail")
          button(type="submit").btn.btn-link SUSCRIBIR
    .row.contact
      .col-sm-3.responsive
        i.fas.fa-map-marker-alt
        a(href="") Emilio Castelar No.164
        p 
          | Col. Arcos Vallarta C.P. 44130 #[br]
          | Guadalajara, Jalisco. México.
      .col-sm-3
        i.far.fa-envelope
        a(href="mailto:contacto@estilomarquez.com") contacto@estilomarquez.com
      .col-sm-3
        i.fab.fa-whatsapp
        a(href="tel:33 1427-9931") 33 1427-9931
        ul.list-inline
          li
            a(href="")
              i.fab.fa-facebook
          li
            a(href="")
              i.fab.fa-instagram
          li
            a(href="")
              i.fab.fa-youtube
    .row.privacy
      .col-sm-12
        a(href="") Términos y condiciones 
        span - 
        a(href="") Aviso de privacidad
