header.Header
	.container-fluid
		.row.hidden-xs.hidden-sm
			.col-md-4.col-sm-offset-2
				a.d-block(href="/")
					img.img-fluid(src="assets/img/logo.jpg", alt="Marqúez Logotipo")
			.col-md-6
				ul.nav.navbar-nav
					li
						a(href="#", class=section == 'index' ? 'active' : '') HISTORIA
					li
						a(href="#") ESTILO
					li
						a(href="general-product.html") SHOP
					li
						a(href="contact.html") CONTACTO
					li
						a(href="cart.html")
							i.fas.fa-shopping-cart
					li
						a(href="login.html")
							i.far.fa-user
		.row.visible-xs.visible-sm.my-3
			.col-xs-12
				a.d-block(href="/")
					img.img-fluid(src="assets/img/logo.jpg", alt="Marqúez Logotipo")
				.mobil-items
					a(href="cart.html")
						i.fas.fa-shopping-cart
					a(href="login.html")
						i.far.fa-user
					a(href="#")#drop
						i.fa.fa-bars
				ul#drop-menu
					li
						a(href="#", class=section == 'index' ? 'active' : '') HISTORIA
					li
						a(href="#") ESTILO
					li
						a(href="general-product.html") SHOP
					li
						a(href="contact.html") CONTACTO
