.Header, .header-main
	background-color $black
	.mobil-items
		position absolute
		top 0
		right 0
	#drop-menu
		background-color $black
		padding-left 15px
		position absolute
		left 0
		right 0
		z-index 1
		display none
		li
			padding 15px 0

.header-secondary
	background-color $gray
	.menu
		a, i
			color $black
	.logo
		background-color $black
		text-align center

.fixed
	position fixed
	top 0
	left 0
	right 0
	z-index 2
