doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.Cart
			.container
				.row.my-5
					.col-xs-9.col-sm-6
						.line-title
						h2 RESUMEN DE COMPRA
					.col-xs-3.col-sm-6.text-right
						h4 14 Articulos
				.row
					.col-sm-12.hidden-xs
						table.table.resume
							thead
								tr
									th(colspan="2") Producto
									th(colspan="2") Piezas
									th Unidad
									th Precio
							tbody
								tr
									td
										img(src="assets/img/marquez-home-producto-1.png" style="width:50%").img-responsive
										span CBA-20403
									td
										h3 Camisa Azul botones
										p
											| Talla: M #[br]
											| Color: Azul
									td
										p Seleccionar
									td
										strike $649.00 MX
									td
										p $599.00 MX
									td
										b $2,995.00 MX
										a(href="#")
											i.fas.fa-times
								tr
									td
										img(src="assets/img/marquez-home-producto-2.png" style="width:50%").img-responsive
										span CBA-20403
									td
										h3 Camisa Azul botones
										p
											| Talla: M #[br]
											| Color: Azul
									td
										p Seleccionar
									td
										strike $649.00 MX
									td
										p $599.00 MX
									td
										b $2,995.00 MX
										a(href="#")
											i.fas.fa-times
								tr
									td
										img(src="assets/img/marquez-home-producto-1.png" style="width:50%").img-responsive
										span CBA-20403
									td
										h3 Camisa Azul botones
										p
											| Talla: M #[br]
											| Color: Azul
									td
										p Seleccionar
									td
										strike $649.00 MX
									td
										p $599.00 MX
									td
										b $2,995.00 MX
										a(href="#")
											i.fas.fa-times
				.row
					.col-xs-12.visible-xs
						table.table.resume
							thead
								tr
									th Producto
									th
										a(href="#")
											i.fas.fa-times
							tbody
								tr
									td
										img(src="assets/img/marquez-home-producto-1.png").img-responsive
										span CBA-20403
									td
										h3 Camisa Azul botones
										p
											| Talla: M #[br]
											| Color: Azul
								tr
									th Piezas
									td
										p Seleccionar
										strike $649.00 MX
								tr
									th Unidad
									td
										p $599.00 MX
								tr
									th Precio
									td
										b $2,995.00 MX
							thead
								tr
									th Producto
									th
										a(href="#")
											i.fas.fa-times
							tbody
								tr
									td
										img(src="assets/img/marquez-home-producto-2.png").img-responsive
										span CBA-20403
									td
										h3 Camisa Azul botones
										p
											| Talla: M #[br]
											| Color: Azul
								tr
									th Piezas
									td
										p Seleccionar
										strike $649.00 MX
								tr
									th Unidad
									td
										p $599.00 MX
								tr
									th Precio
									td
										b $2,995.00 MX
				.row
					.col-md-4.col-md-offset-8
						table.table.total
							tbody
								tr
									th RESUMEN
									th Sub-total:
									th MX $8,386.00
								tr
									td(colspan="2") Envío:
									td MX $200.00
								tr
									td.price TOTAL
									td.price(colspan="2") MX $8,586.00
						a(href="shipping.html").btn.btn-link.btn-block COMPRAR
				.row
					.col-sm-12.my-5
						.line-title
						h2 PRODUCTOS RECOMENDADOS
				.row
					.col-sm-3.prod-item
						img(src="assets/img/marquez-home-producto-1.png").img-responsive
						h3 Camisa Azul Botones
						span $405.00
						strike $590.00
						a(href="").btn.btn-default Comprar
					.col-sm-3.prod-item
						img(src="assets/img/marquez-home-producto-1.png").img-responsive
						h3 Camisa Azul Botones
						span $405.00
						strike $590.00
						a(href="").btn.btn-default Comprar
					.col-sm-3.prod-item
						img(src="assets/img/marquez-home-producto-1.png").img-responsive
						h3 Camisa Azul Botones
						span $405.00
						strike $590.00
						a(href="").btn.btn-default Comprar
					.col-sm-3.prod-item
						img(src="assets/img/marquez-home-producto-1.png").img-responsive
						h3 Camisa Azul Botones
						span $405.00
						strike $590.00
						a(href="").btn.btn-default Comprar
		include parts/footer.pug
