doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.container-fluid
			.row.Contact
				.col-sm-4.responsive
					.line-title
					h2 CONTACTO
					.content
						h3 EMILIO CASTELAR NO.164
						p
							| Col. Arcos Vallarta, C.P. 44130 #[br]
							| Guadalajara, Jalico. México
						i.far.fa-envelope
							a(href="") contacto@estilomarquez.com
						i.fas.fa-phone
							a(href="") (33) 1427 9931
				.col-sm-6
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.9447076485267!2d-103.38639268470192!3d20.67182838619282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae72fc5c7ee9%3A0xd38d5fe5766ea25e!2sCalle+Emilio+Castelar+164%2C+Arcos+Vallarta%2C+44130+Guadalajara%2C+Jal.!5e0!3m2!1ses-419!2smx!4v1553204320463" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		include parts/footer.pug
