doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.Detail-product
			.container
				.row
					.col-sm-11.col-sm-offset-1.my-5
						i.fas.fa-chevron-left
							a(href="general-product.html") REGRESAR
				.row
					.col-sm-6.col-md-5.col-md-offset-1
						a(href="assets/img/marquez-prod.jpg").img-zoom
							img(src="assets/img/marquez-prod.jpg").img-detail.img-responsive
						ul.list-inline
							li
								a(href="assets/img/marquez-prod.jpg").img-detail-link
									img(src="assets/img/marquez-prod.jpg").img-responsive
							li
								a(href="assets/img/marquez-prod.jpg").img-detail-link
									img(src="assets/img/marquez-prod.jpg").img-responsive
							li
								a(href="assets/img/marquez-prod.jpg").img-detail-link
									img(src="assets/img/marquez-prod.jpg").img-responsive
							li.video
								img(src="assets/img/marquez-prod.jpg").img-responsive
								a(type="button" data-toggle="modal" data-target="#openvideo")
									i.far.fa-play-circle
								.modal.fade(role="dialog")#openvideo
									.modal-dialog
										.modal-content
											<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/326640783?autoplay=1&loop=1&title=0&byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
					.col-sm-6.col-md-4.col-md-offset-2
						p Camisa de botones blanca para caballero
						.line-title
						h2 CAMISA BLANCA BOTONES
						em Manga corta camisa de botones blanca para caballero
						.price
							b $405 
							strike $590 
							span CBB-20408
						.size
							h4 TALLAS
							p Chica:
								span 143 disponibles
							p Mediana:
								span 57 disponibles
							p Grande:
								span 143 disponibles
							p Extragrande:
								span 200 disponibles
						span Compartir :
							a(href="#")
								i.fab.fa-facebook-f
						form.my-4
							button(type="submit").btn.btn-link.btn-block Agregar al Carrito
							button(type="submit").btn.btn-default.btn-block Comprar
						.box-collapse
							a(type="button" data-toggle="collapse" data-target="#description") CARACTERISTICA
								i.fas.fa-chevron-down.ml-3
							#description.collapse.in
								| Camisa para caballero de botones color blanca, manga larga, 100% algodón, cuello americano,
								| puño fino con ajuste de botón, corte recto con ajuste en los hombros, ajuste clásico con cintura
								| ligeramente entallada para una buena libertad de movimientos y una silueta elegante y cómoda.
							a(type="button" data-toggle="collapse" data-target="#guide") GUÍA DE TALLA
								i.fas.fa-chevron-down.ml-3
							#guide.collapse.in
								img(src="assets/img/marquez-tallas.jpg" alt="Guía de Tallas Camisa Caballero").img-responsive
		include parts/footer.pug
