doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="assets/img/marquez-favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		header
			.Header.home.container-fluid.customanimated.cshow
				.row.hidden-xs.hidden-sm
					.col-lg-6.col-lg-offset-6.menu
						ul.list-inline
							li
								a(href="#", class=section == 'index' ? 'active' : '') HISTORIA
							li
								a(href="#") ESTILO
							li
								a(href="general-product.html") SHOP
							li
								a(href="contact.html") CONTACTO
							li
								a(href="cart.html")
									i.fas.fa-shopping-cart
									span (0)
							li
								a(href="login.html")
									i.far.fa-user
				.row.logo.hidden-xs.hidden-sm
					.col-sm-12
						a(href="/")
							img(src="assets/img/Logo-Vertical.png" alt="Marquéz Logotipo")
			.Header.main.container-fluid.fixed.animated(style="opacity: 0;")
				.row.hidden-xs.hidden-sm
					.col-md-4.col-sm-offset-2
						a.d-block(href="/")
							img.img-fluid(src="assets/img/Logo-Horizontal.png", alt="Marqúez Logotipo")
					.col-md-6
						ul.list-inline
							li
								a(href="#", class=section == 'index' ? 'active' : '') HISTORIA
							li
								a(href="#") ESTILO
							li
								a(href="general-product.html") SHOP
							li
								a(href="contact.html") CONTACTO
							li
								a(href="cart.html")
									i.fas.fa-shopping-cart
									span (0)
							li
								a(href="login.html")
									i.far.fa-user
			.mobil.visible-xs.visible-sm.fixed
				.row
					.col-xs-12
						a.d-block(href="/")
							img.img-fluid(src="assets/img/Logo-Horizontal.png", alt="Marqúez Logotipo")
						.items
							a(href="cart.html")
								i.fas.fa-shopping-cart
								span (0)
							a(href="login.html")
								i.far.fa-user
							a(href="#")#drop
								i.fa.fa-bars
						ul#drop-menu
							li
								a(href="#", class=section == 'index' ? 'active' : '') HISTORIA
							li
								a(href="#") ESTILO
							li
								a(href="general-product.html") SHOP
							li
								a(href="contact.html") CONTACTO
		#home-sidebar.slider-pro
			.sp-slides
				.sp-slide
					img.sp-image(data-default='assets/img/marquez-home-banner.png', data-retina='assets/img/marquez-home-banner.png', src='assets/img/marquez-home-banner.png', style='width: 100%; height: auto; margin-left: 0px; margin-top: -70px;')
					.sp-layer.sp-buy
						a(href="").btn.btn-default COMPRAR
				.sp-slide
					img.sp-image(data-default='assets/img/marquez-home-banner.png', data-retina='assets/img/marquez-home-banner.png', src='assets/img/marquez-home-banner.png', style='width: 100%; height: auto; margin-left: 0px; margin-top: -70px;')
					.sp-layer.sp-buy
						a(href="").btn.btn-default COMPRAR
				.sp-slide
					img.sp-image(data-default='assets/img/marquez-home-banner.png', data-retina='assets/img/marquez-home-banner.png', src='assets/img/marquez-home-banner.png', style='width: 100%; height: auto; margin-left: 0px; margin-top: -70px;')
					.sp-layer.sp-buy
						a(href="").btn.btn-default COMPRAR
		.Home
			.container
				.row
					.col-sm-12
						h2.my-10 PRODUCTOS DESTACADOS -
						.row.owl-carousel.owl-theme#products-carousel
							.col-sm-12.prod-item
								img(src="assets/img/marquez-home-producto-1.png" alt="Marquéz Camisa")
								h3 Camisa Azul Botones
								span $405.00
								strike $590.00
								a(href="").btn.btn-default Comprar
							.col-sm-12.prod-item
								img(src="assets/img/marquez-home-producto-2.png" alt="Marquéz Camisa")
								h3 Camisa Azul Botones
								span $405.00
								strike $590.00
								a(href="").btn.btn-default Comprar
							.col-sm-12.prod-item
								img(src="assets/img/marquez-home-producto-1.png" alt="Marquéz Camisa")
								h3 Camisa Azul Botones
								span $405.00
								strike $590.00
								a(href="").btn.btn-default Comprar
							.col-sm-12.prod-item
								img(src="assets/img/marquez-home-producto-2.png" alt="Marquéz Camisa")
								h3 Camisa Azul Botones
								span $405.00
								strike $590.00
								a(href="").btn.btn-default Comprar
			.about
				.container
					.row.py-5
						.col-sm-6
							img(src="assets/img/marquez-home-historia.png", alt="Marquéz Historia").w-100
						.col-sm-6
							h2.my-5 MARQUÉZ -
							p
								| Es un título nobiliario mediante el cual monarcas europeos han concedido un honor o dignidad a ciertas personas y linajes a lo largo de la historia.
								| La marca como tal representa inmediatamente el rango elite al que pertenece. #[br]#[br]
								| En conjunto con la calidad de nuestras prendas se crea la fuerza y elegancia suficiente para representar la esencia de esta marca 
			.container-fluid
				.row
					.col-sm-12.banner
		include parts/footer.pug
