doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.container
			.row.Privacy
				.col-sm-12.my-5
					h2.text-center AVISO DE PRIVACIDAD
					p
						| PENDIENTE S.A. de C.V. con domicilio en PENDIENTE, Jalisco México, es el responsable del uso y protección de sus datos personales, y al respecto le informa lo siguiente:
						| Los datos personales que recabamos de usted los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita: #[br]#[br]
						| 1.	Poder enviarle su mercancía a domicilio.#[br]
						| 2.	Relacionar el pago con su orden.#[br]
						| 3.	Asegurar que la mercancía sea entregada en su domicilio.#[br]
					b ¿Qué datos personales recabamos y utilizamos sobre usted?
					p
						| Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales: nombre del cliente, domicilio, correo electrónico, teléfono. #[br]
					b ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
					p
						| Usted tiene derecho a conocer que datos personales tenemos de usted, y para que los utilizamos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que este desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al
						| uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO. #[br]
						| Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva enviando un correo a contacto@wearmarquez.com.mx. Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, usted podrá ponerse en contacto con nuestro Departamento de Privacidad, que dará trámite a las solicitudes para el ejercicio de estos derechos, y atenderá cualquier duda que pudiera tener respecto al tratamiento de su información. Los datos de
						| contacto son los siguientes: PENDIENTE DIRECCION, Jalisco México contacto@wearmarquez.com.mx #[br]
					b ¿Cómo puede revocar su consentimiento para el uso de sus datos personales?
					p
						| Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicara que no le podamos seguir | prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.#[br]
						| Para conocer el procedimiento y requisitos para la revocación del consentimiento, usted podrá ponerse en contacto con nuestro Departamento de Privacidad.#[br]
					b ¿Cómo puede limitar el uso o divulgación de su información personal?
					p
						| Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios: #[br]#[br]
						| •	Su inscripción en el Registro Público para Evitar Publicidad, que está a cargo de la Procuraduría Federal del Consumidor, con la finalidad de que sus datos personales no sean utilizados para recibir publicidad o promociones de empresas de bienes o servicios. Para mayor información sobre este registro, usted puede consultar el portal de Internet de la PROFECO, o bien ponerse en contacto directo con esta.#[br]
						| •	Su registro en el listado de exclusión, a fin de que sus datos personales no sean tratados para fines mercadotécnicos, publicitarios o de prospección comercial por nuestra parte. Para mayor información enviar un correo electrónico a la siguiente dirección contacto@wearmarquez.com.mx. #[br]
					b ¿Cómo puede conocer los cambios a este aviso de privacidad?
					p
						| El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
						| Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de correo electrónico. #[br]
						| El procedimiento a través del cual se llevaran a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente: Se le enviara el correo y en el caso de que usted no esté de acuerdo con los ajustes, tendrá el derecho de solicitarnos la desactivación de su cuenta vía correo electrónico. El continuar con el uso del sistema, quedara como entendido de que usted ha aceptado los cambios realizados.#[br]
						| Si usted considera que su derecho a la protección de sus datos personales ha sido lesionado por alguna conducta u omisión de nuestra parte, o presume alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, su Reglamento y demás ordenamientos aplicables, podrá interponer su inconformidad o denuncia ante el Instituto Federal de Acceso a la Información y Protección de Datos (IFAI). Para mayor información, le | sugerimos visitar su página oficial de Internet www.ifai.org.mx. #[br]
					h3.text-center ATENTAMENTE
					p.text-center PENDIENTE SA DE CV
						
		include parts/footer.pug
