doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.container-fluid
			.row.Shipping.flex
				.col-sm-6.col-md-4.col-md-offset-2.my-5
					.line-title
					h2 INFORMACIÓN DE CONTACTO
					form
						.form-group.mt-5
							label Correo
							input(type="email").form-control
						.form-group
							label Nombre
							input(type="text").form-control
						.form-group.mb-5
							label Apellidos
							input(type="text").form-control
					.line-title
					h2 DIRECCIÓN DE ENVÍO
					.row
						.col-sm-12.form-group.mt-5
							label Dirección
							input(type="text").form-control
					.row
						.col-sm-6.form-group
							label Colonia
							input(type="text").form-control
						.col-sm-6.form-group
							label País
							input(type="text").form-control
					.row
						.col-sm-6.form-group
							label Estado
							input(type="text").form-control
						.col-sm-6.form-group
							label C.P
							input(type="text").form-control
					.row
						.col-sm-12.form-group
							label Teléfono
							input(type="text").form-control
							.radio.save
								label
									input(type="radio")
									| Guardar mi información y consultar más rápidamente la próxima vez
					.line-title
					h2 DIRECCIÓN DE ENVÍO
					.row.mb-5
						.col-sm-6.form-group
							.radio
								label
									input(type="radio" checked)
									| Recoger en tienda
						.col-sm-6.form-group
							.radio
								label
									input(type="radio")
									| Envío Regular ($200)
					button(type="submit").btn.btn-link.btn-block CONTINUAR A FORMAS DE PAGO
				.col-sm-6.purchase.pt-5
					.line-title
					h2.mb-5 RESUMEN DE COMPRA
					.resume
						.image
							img(src="assets/img/marquez-home-producto-1.png" alt="Marquéz Camisa").img-responsive
							p CBA-20403
						.description
							h4 Camisa Azul botones
							p
								| Talla: M #[br]
								| Color: Azul #[br]
								| Piezas: 5 #[br]
						.price
							p $2,995.00 MX
					.resume
						.image
							img(src="assets/img/marquez-home-producto-2.png" alt="Marquéz Camisa").img-responsive
							p CBA-20403
						.description
							h4 Camisa Blanca botones
							p
								| Talla: M #[br]
								| Color: Azul #[br]
								| Piezas: 5 #[br]
						.price
							p $2,995.00 MX
					.resume
						.image
							img(src="assets/img/marquez-home-producto-1.png" alt="Marquéz Camisa").img-responsive
							p CBA-20403
						.description
							h4 Camisa Blanca botones
							p
								| Talla: M #[br]
								| Color: Azul #[br]
								| Piezas: 5 #[br]
						.price
							p $2,995.00 MX
					.cupon
						span Cupón de Descuento
						form
							input(type="text")
							button(type="submit").btn.btn-link USAR
					table.table.total
						thead
							tr
								th Sub-total:
								th MX $8,386.00
						tbody
							tr
								td Envío:
								td MX $0.00
							tr
								td.price Total:
								td.price
									b MX $8,586.00
		include parts/footer.pug
