doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.container
			.row.Terms
				.col-sm-12.my-5
					h2.text-center.mb-5 TERMINOS Y CONDICIONES DE COMPRA
					p
						| Bienvenido al sitio web www.wearmarquez.com.mx y todas sus divisiones, subsidiarias, afiliadas y sitios de internet, la cual te ofrecen acceso al sitio web y te venden productos bajo los términos y condiciones establecidos en la misma, te rogamos que leas detenidamente los presentes términos y condiciones antes de utilizar el sitio web www.wearmarquez.com.mx, ya que al entrar a nuestro sitio confirmas tu entendimiento con los mismos, si no aceptas estos términos y condiciones de
						| uso, no podrás utilizar este sitio. MARQUEZ se reserva el derecho a modificar, alterar o actualizar estas condiciones de uso en cualquier momento y Usted acepta estar obligado por dichas modificaciones, alteraciones o actualizaciones. #[br]#[br]
						| Por la utilización del Portal y/o la adquisición de cualquiera de los productos del mismo, suponen la aceptación como Usuario, sin reservas de ninguna clase, a todas y cada una de las Condiciones Generales de Contratación, de las Condiciones Generales de Utilización del Portal así como en su caso, a las Condiciones Particulares que, en su caso rijan la adquisición. #[br]
						| Al utilizar este sitio web o hacer un pedido a través del mismo, Usted consiente quedar vinculado por estas condiciones y por nuestra Política de Privacidad, así como la posesión de datos en favor de: PENDIENTE Por lo que, si no está Usted de acuerdo con todas las condiciones, con la Política de Privacidad y nuestra posesión y protección de su información y datos personales, deberá abstenerse de hacer algún pedido. #[br]
						| El Administrador informa que los trámites para efectuar la adquisición de sus artículos son aquellos que se describen en las presentes condiciones generales de contratación, así como aquellos otros específicos que se indiquen en pantalla durante la navegación, de manera que el Usuario declara conocer y aceptar dichos trámites como necesarios para acceder a los productos y servicios ofrecidos en el Portal. #[br]
						| Cualquier modificación y/o corrección de los datos proporcionados por los Usuarios durante la navegación deberá efectuarse según las indicaciones incluidas en la Web. #[br]
						| El Usuario puede acceder, imprimir, descargar y guardar las Condiciones Generales de Contratación en todo momento. Estas Condiciones estarán permanentemente accesibles en el Sitio Web a través del enlace Términos y condiciones de www.wearmarquez.com.mx #[br]
					h2 Uso de plataforma y sistema de compra.
					p
						| Las cláusulas que a continuación se relacionan, componen los "Términos y condiciones de compra", teniendo por objeto regular la adquisición, a través de www.wearmarquez.com.mx, por parte de los usuarios, de los productos ofrecidos por EL ADMINISTRADOR en su tienda on-line ( en línea). #[br]
						| El Usuario, tendrá que consultar, registrarse y aceptar las presentes condiciones, antes de realizar la compra on-line, entendiendo que el acceso a la tienda así como la compra de alguno de los productos ofertados supondrá la aceptación de las presentes Condiciones Generales de Contratación. Concretamente, para la adquisición de los productos ofertados a través del portal www.wearmarquez.com.mx, los usuarios que procedan a registrarse, deberán ser mayores de dieciocho (18) años y | deberán cumplimentar las instrucciones que aparezcan en estas Condiciones Generales de Contratación y que requerirán ejecutar las siguientes instrucciones, así como cualesquiera otras que se incluyan en las distintas pantallas de la Web: #[br]
						| Una vez completado el formulario de registro, el suscriptor del sitio recibirá una contraseña de acceso, el suscriptor será el único responsable de mantener la contraseña proporcionada y así como otros identificadores de cuentas seguras, el titular de la cuenta es totalmente responsable de todas las actividades que ocurran bajo su contraseña o cuenta, por otra parte, debes notificarnos de cualquier uso no autorizado de tu contraseña o cuenta, de ninguna manera, nosotros seremos
						| responsables, directos o indirectamente, por cualquier pérdida o daño de cualquier tipo incurridos como resultado de la falta de cumplimiento de esta condición. Por otro lado, el Administrador se reserva el derecho a dejar de facilitar la adquisición, en cualquier momento y sin previo aviso, de cualquiera de los productos ofrecidos en la Web. #[br]
						| La información que aparece en este Sitio es la vigente en la fecha de su última actualización. EL ADMINISTRADOR se reserva el derecho a decidir en cada momento, los Productos que se contengan y se ofrezcan a los Usuarios a través de la Web, de manera que podrá actualizar, modificar o eliminar el contenido y elementos que integran el Sitio, sin necesidad de comunicarlo previamente, cuando lo estime conveniente. En consecuencia, EL ADMINISTRADOR podrá en cualquier momento
						| adicionar nuevos productos a los incluidos en la Web, entendiéndose, salvo que se disponga otra cosa, que tales nuevos productos se regirán por lo dispuesto en las Condiciones Generales en vigor en ese momento. #[br]
						| El Administrador se reserva el derecho de cancelar el Nombre de Usuario y el password, y por tanto el acceso a la Web de aquellos usuarios que no observen las Condiciones de Uso del Portal o las Condiciones Generales de Contratación que rijan en cada caso. #[br]
						| Para realizar una compra, el usuario hará llegar su pedido por Internet a través de "Mi Carrito". La información que figura en los catálogos y las listas de precios es sólo a título indicativo. EL ADMINISTRADOR podrá modificarlos, sin aviso previo y en cualquier momento, según las circunstancias del mercado, si bien EL   ADMINISTRADOR garantiza que los precios que se aplicarán en todo momento son los vigentes en la Web en el momento de conformar el pedido. En caso de modificación | de precios, los pedidos ya en curso no se verán afectados. #[br]
						| Las ofertas especiales, promociones o descuentos serán válidos hasta la fecha indicada o hasta fin de existencias. #[br]
						| El Administrador ofrece a través de esta página, una selección de los productos que comercializa bajo la marca MARQUEZ, de manera que garantiza que los mismos cumplen idénticos requisitos de calidad y garantía que aquéllos que se adquieran en las tiendas de MARQUEZ. Cada uno de los artículos ofertados en esta Web va acompañado de la siguiente información: #[br]
						| *Nombre del artículo #[br]
						| *Imagen del artículo#[br]
						| *Descripción del artículo#[br]
						|	*Tallas#[br]
						| *Precio#[br]
						| Respecto del color de las prendas que aparece en pantalla, se le advierte que puede estar sujeto a variaciones dependiendo de la pantalla de su ordenador, no pudiendo, por tal motivo garantizar que los colores que aparecen se ajusten fielmente a la misma. Sin perjuicio de lo anterior, EL ADMINISTRADOR realiza todos los esfuerzos para que los colores que aparecen en pantalla se muestren de la forma más cercana a la realidad.#[br]#[br]
						h2 Procedimiento de compra
						p
							| Para adquirir los artículos que se deseen deberá seleccionarlos y añadirlos a “Mi carrito” mediante click sobre el icono correspondiente. “Mi carrito” contendrá la referencia del artículo seleccionado, y el precio del mismo, con indicación de los impuestos que correspondan. Para realizar el pedido se le solicitarán sus datos personales necesarios, que se incorporarán a nuestra base de datos con el objeto de poder procesar dicho pedido así como facilitar la realización de nuevas | compras en www.wearmarquez.com.mx. Igualmente, Usted podrá acceder a sus datos personales y a la información de todos sus pedidos. Es importante que indique con la mayor exactitud dichos datos, para evitar confusiones o incidencias en el envío de los artículos adquiridos. En el caso que así lo solicite, además, recibirá por correo y/o e-mail información o boletines informativos relativos a este portal. Una vez formalizado el pedido cumplimentando los datos relativos al mismo, y | antes de su envío, se presentará un resumen identificando el artículo adquirido, su precio total (transporte e impuestos incluidos) y los datos de envío. El pedido deberá ser confirmado mediante click en el botón "PAGAR". Una vez se haya confirmado la transacción, se le comunicará a través de la propia página web, su número de pedido con el fin de posibilitarle en todo momento el seguimiento del mismo. Asimismo, se remitirá un mensaje de correo electrónico, con una descripción
							| del pedido y los datos personales que hayan sido comunicados. En caso de no recibir el mismo, es aconsejable que se contacte con EL ADMINISTRADOR mediante correo electrónico a la dirección contacto@wearmarquez.com.mx o llamando al teléfono: +52 (33) PENDIENTE. #[br]
						h2 Forma, Gastos y Plazo de Envío
						p
							| EL ADMINISTRADOR envía los pedidos a sus clientes a través de diferentes empresas de transporte urgente de reconocido prestigio nacional e internacional. La fecha de entrega en el domicilio del Usuario depende de la disponibilidad del producto escogido y de la zona de envío, siendo el plazo de entrega de 2 a 5 días hábiles. Los plazos de transporte indicados son orientativos. Los gastos de envío aparecen en la Web al realizar el pedido y con antelación a la confirmación del
							| mismo. La entrega se considera efectuada desde que se pone el producto a disposición del Cliente por el transportista y el destinatario firma la recepción de la entrega. Corresponde al destinatario verificar los productos a la recepción de los mismos y exponer todas las salvedades y reclamaciones que puedan estar justificadas. #[br]
							| PENDIENTE S.A. de C.V. en su caracter de ADMINISTRADOR no se hace responsable por extravíos o pedidos que pudiesen llegar incompletos si el problema se suscita por parte de la paquetería previamente señalada en su envío. #[br]
						h2 Derechos del Comprador y Política de Cambios.
						p
							| El Usuario podrá cambiar cualquier artículo que haya comprado a través del portal www.wearmarquez.com.mx dentro de los primeros 15 días, siempre y cuando sea por las siguientes causas:#[br]
							| . Podrá cambiar el artículo adquirido siempre y cuando los productos no hayan sido abiertos ni usados y conserven su precinto o embalaje original. No se admitirán cambios si el producto no es remitido en perfectas condiciones, con su packaging original y sin usar.#[br]
							| . Deberá devolverse el pedido íntegro, con todos los accesorios y embalajes originales de los productos. El producto debe estar en perfectas condiciones y en su embalaje original. El cliente deberá satisfacer los gastos directos de devolución.#[br]
							| . Conforme a la ley, no se admitirán devoluciones de objetos que hayan sido desprecintados, excepto en los casos de mercancía defectuosa.#[br]
							| EL ADMINISTRADOR examinará y le comunicará al USUARIO si tiene derecho a la sustitución del mismo. No procederá la devolución de aquellos productos que no estén en las mismas condiciones en las que los recibió, o que hayan sido usados más allá de la mera apertura del producto. La devolución o sustitución del artículo se efectuará lo antes posible y, en cualquier caso, dentro de los 30 días siguientes a la fecha en la que le enviemos un correo electrónico confirmando que procede | la sustitución del artículo no conforme. #[br]#[br]
						h2 Devoluciones por defectos de fábrica
						p
							| En caso de defecto de fábrica, podrá devolver el artículo adquirido, deberá devolverse el pedido íntegro, con todos los accesorios y embalajes originales de los productos. #[br]#[br]
							| La devolución o sustitución del artículo se efectuará lo antes posible y, en cualquier caso, dentro de los 15 días siguientes a recepción del artículo por parte del USUARIO, es imprescindible reportar el defecto vía correo electrónico anexando fotografías que evidencien el defecto, el correo para recibir dicha información es contacto@wearmarquez.com.mx una vez recibido el correo el ADMINISTRADOR responderá en los siguientes 3 días hábiles si dicha devolución procede o no. En
							| caso de proceder se enviará una guía electrónica al correo proporcionado por el USUARIO para que éste haga la devolución de la prenda. Cabe señalar que el USUARIO deberá de realizar el envío de la prenda con la guía proporcionada para ese fin en los siguientes 5 días posteriores a su recepción, de no hacerlo dicha guía será cancelada teniendo el USUARIO que realizar el envío por su cuenta.#[br]#[br]
							| Si en el momento de la entrega se aprecia de forma visible y clara, sin necesidad de manipular los embalajes de envío o los propios del producto, un error en la mercancía recibida, el Cliente deberá indicarlo en el momento de entrega, y comunicarlo a EL ADMINISTRADOR mediante correo electrónico a la dirección contacto@wearmarquez.com.mx o bien en el teléfono +52 (33) PENDIENTE, en el transcurso de las 24 horas siguientes a la recepción del pedido para poder instar la devolución | del producto o productos afectados y con ello la sustitución por el producto efectivamente adquirido. Los defectos de fábrica que sólo sean apreciables tras haber desembalado el producto deberán comunicarse en los primero 15 días desde la recepción del pedido de la forma indicada más arriba, indicando el número de pedido, los daños provocados en el producto e instando la devolución del producto afectado y con ello la sustitución por uno nuevo. En caso de que el producto devuelto | estuviera agotado, el cliente podrá optar por cambiarlo por otro de similar precio y calidad.#[br]
							| La entrega de la nueva mercancía solicitada, así como su tiempo de entrega previamente definido, correrá a partir de que se tenga el producto que le fue enviado inicialmente en nuestras oficinas con dirección PENDIENTE 
						h2 Comunicaciones
						p
							| Para cualquier incidencia relacionada con la devolución de artículos de nuestra tienda Online deberán dirigirse a EL ADMINISTRADOR mediante correo electrónico, enviado un mensaje a contacto@wearmarquez.com.mx  o bien en el teléfono +52 (33) PENDIENTE. Las comunicaciones de EL ADMINISTRADOR al Usuario se realizarán conforme a los datos aportados por éste al registrarse en la Web. La normativa aplicable exige que parte de la información o comunicaciones que le enviemos sean por
							| escrito. Por ello, Usted acepta expresamente la utilización del correo electrónico como procedimiento válido para la remisión de todas las comunicaciones relacionadas con la utilización de la Web, reconociendo a efectos contractuales, que cualquier comunicación que a estos efectos le envíe EL ADMINISTRADOR, cumplen con los requisitos legales de ser por escrito.    Todo lo anterior, sin perjuicio de los derechos que le correspondan al usuario reconocidos por Ley.#[br]#[br]
						h2 Condiciones de Pago
						p
							| Los productos adquiridos a través de este portal, se pagarán por el Usuario en la Web, mediante, tarjeta de crédito, tarjeta de débito, pago en Oxxo. El Usuario deberá pagar el importe íntegro de los productos adquiridos, de manera que, el pedido será válido una vez recibida la confirmación bancaria del pago realizado.    Para los pagos con tarjeta de crédito o débito, el cargo se realizará online, es decir, en tiempo real, a través de la pasarela de pago de la entidad
							| financiera correspondiente, una vez se haya comprobado que los datos comunicados son correctos. Las tarjetas de crédito estarán sujetas a las comprobaciones y autorizaciones correspondientes por parte de la entidad emisora de las mismas, de manera que, si dicha entidad no autorizase el pago, EL ADMINISTRADOR no se hace responsable de las consecuencias derivadas del retraso en la entrega o de la imposibilidad de la misma. #[br]#[br]
						h2 Fuerza Mayor
						p
							| El incumplimiento de las obligaciones de cualquiera de las partes por causas de fuerza mayor, no implicará responsabilidad alguna para ninguna de las partes. El cumplimiento de la obligación se demorará hasta el cese del caso de fuerza mayor, de forma que, cualquiera de las partes podrá solicitar la rescisión del contrato, sin ningún tipo de indemnización, si dicha causa se prolongase. #[br]#[br]
						h2 Impuestos Aplicables
						p
							| Los precios de los productos expuestos en la página Web incluyen el Impuesto sobre el Valor Añadido (IVA) que sea procedente aplicar y cualquier otro impuesto que fuera de aplicación y serán en todo momento los vigentes, salvo error tipográfico. Las ofertas estarán debidamente indicadas en pantalla. #[br]#[br]
						h2 Obligaciones de los usuarios
						p
							| El Usuario se compromete a aceptar todas las disposiciones y condiciones recogidas en las presentes Condiciones Generales de Contratación así como a guardar de forma confidencial y con la máxima diligencia sus claves de acceso personal al portal. Igualmente, se compromete en todo momento a facilitar información veraz sobre los datos solicitados en los formularios de registro de usuario o de realización del pedido, y a mantenerlos actualizados en todo momento. #[br]
							| El Usuario se compromete a posibilitar la entrega del pedido solicitado facilitando una dirección de entrega en la que pueda ser entregado dicho pedido. El Administrador no tendrá ninguna responsabilidad sobre el retraso o imposibilidad de entrega del pedido solicitado por el Usuario, derivada del incumplimiento por parte de éste de esta obligación de facilitar dicha entrega.
						h2 Política de Protección de Datos y Aviso de Privacidad.
						p
							| El usuario deberá leer y al hacer uso de este portal dará por aceptada la Política de Protección de Datos Personales de esta Web, lo cuales se encuentran dentro de nuestra "política de privacidad" situada dentro de este sitio web www.wearmarquez.com.mx
						h2 Legislación aplicables y jurisdicción competente.
						p
							| Las compras realizadas a través del portal www.wearmarquez.com.mx se someten a la legislación Mexicana. En el supuesto de que surja cualquier conflicto o discrepancia en la interpretación o aplicación de las presentes condiciones contractuales, los Juzgados y Tribunales que, en su caso, conocerán del asunto, serán los que disponga la normativa legal aplicable en materia de jurisdicción competente, en la que se atiende, tratándose de consumidores, al lugar del cumplimiento de la | obligación señalado por EL ADMINISTRADOR en la ciudad de Guadalajara, Jalisco. México. En el caso de que la parte compradora tenga su domicilio fuera del estado, ambas partes se someten, con renuncia expresa a cualquier otro fuero, a los Juzgados y Tribunales del Estado de Jalisco. #[br]#[br]
						h3.text-center ATENTAMENTE
						p.text-center PENDIENTE SA DE CV
		include parts/footer.pug
