.Home
  .about
    background-color $gray
    p
      text-align right
.Contact
  .responsive
    margin-left 16.6%
    h3, a
      color #7a7676
      font-weight bold
    p
      color #7a7676
    i
      color $yellow
    @media only screen and (max-width $tablet_size)
      margin-left 8.3%
      margin-bottom 20px
.Login
  margin 150px 0
  a
    color #7a7676
  span
    margin 0 20px
  form
    margin-top 60px
    .access
      float right
      text-align center
    button, .access
      width 100%
      margin-bottom 20px
      @media only screen and (min-width $tablet_size)
        width 50%
        margin-top 60px
.Register
  margin 50px 0
  .half
    width 50%
    float left
    padding-right 10px
  button
    width 100%
    @media only screen and (min-width $tablet_size)
      width 50%
      margin-top 40px
.Product
  margin-top 40px
  margin-bottom 80px
  .filter
    margin-top 20px
    @media only screen and (min-width $tablet_size)
      text-align right
    form
      span
        color $yellow
      label
        color $black
      select
        border-color transparent
        background-color $gray
        padding 5px
      label, select
        @media only screen and (max-width $tablet_size)
          width 50%
          float left
          margin 10px 0
      span
        @media only screen and (max-width $tablet_size)
          width 100%
          display block
  .load-prod
    color #7a7676

.product
  text-align center
  margin-bottom 50px
  h3
    color $yellow
  strike
    color #969696
    margin-left 20px
  a
    margin-top 20px
    width 80%

.side-right
  background-color $gray-two
