#home-sidebar
  @media only screen and (max-width 992px)
    margin-top 44.1333px

.Cart h2, .Shipping h2, .Shipping .save, .Payment h2, .Purchase h2
  font-weight bold

.Home
  h2
    color $black
    text-align right
  .about
    background-color $gray
    p
      font-family 'Roboto-Condensed-Light'
      font-size 1.2em
      text-align right
  .banner
    background-image url('../assets/img/marquez-home-banner-2.png')
    background-position center
    background-repeat no-repeat
    background-size cover
    margin 50px 0
    padding 9% 0
    @media screen and (max-width $tablet_size)
      padding 15% 0
.General-product
  h2, form span, form label
    font-weight bold
  .filter
    @media only screen and (min-width $tablet_size)
      text-align right
    form
      span
        color $yellow
        margin-right 10px
        @media only screen and (max-width $tablet_size)
          width 100%
          display block
      label
        color $black
      select
        border-color transparent
        background-color $gray
        padding 5px
      label, select
        @media only screen and (max-width $tablet_size)
          width 50%
          float left
          margin 10px 0
    .prices
      @media only screen and (min-width $tablet_size)
        margin-right 40px
  .load
    text-align center
    margin 80px 0
    a
      color $gray-body
.Detail-product
  .fa-chevron-left, .fa-chevron-left a
    color $yellow
  .fa-chevron-left a
    font-family 'Roboto-Condensed-Light'
    padding-left 8px
  ul
    display flex
    justify-content space-between
    margin-top 20px
    .video
      position relative
      a
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color rgba($gray-body, 0.7)
        cursor pointer
        display flex
        justify-content center
        align-items center
        text-decoration none
        &:hover
          background-color rgba($gray-body, 0.7) !important
        i
          font-size 3em
  p
    font-size 1.2em
    color $black
  .price
    font-size 1.4em
    margin 20px 0
    width 100%
    strike
      margin-left 20px
      color $gray-body
    span
      float right
  .size
    h4
      border-bottom 2px solid $yellow
      color $yellow
      margin-bottom 20px
    p
      border 1px solid $black
      font-size 1.2em
      font-family 'Roboto-Condensed-Light'
      padding 5px
    span
      color rgba($gray-body,0.8)
      float right
  .fa-facebook-f
    color $black
    margin-left 10px
  .box-collapse
    margin 3rem 0
    a
      border transparent
      background-color transparent
      cursor pointer
      display block
      margin 10px 0
      padding 0
      font-size 1.2em
    a, i
      color $black
    #description
      font-family 'Roboto-Condensed-Light'
.Cart
  h4, strike, i
    color $gray-body
  i
    float right
  span
    color $yellow
  table.resume
    border-bottom 2px solid $yellow
    thead
      th
        border-bottom 2px solid $yellow
        color $gray-body
        font-weight normal
    tbody
      td
        p
          color $gray-body
  table.total
    th, td
      border none
      font-weight normal
      text-align right
    .price
      border-top 2px solid $yellow
      color $yellow
.Shipping .save
  background-color #ebebeb
  margin-top 3rem
  padding 10px
.Payment
  a
    color $gray-body
  .item
    border-bottom 2px solid rgba($gray-body, 0.5)
    padding 10px
    margin-bottom 20px
  form
    .item
      border 2px solid rgba($gray-body, 0.5)
      .radio
        display flex
        align-items center
        justify-content space-between
      p
        color $gray-body
.Purchase
  color $gray-body
  .item
    border-bottom 2px solid rgba($gray-body, 0.5)
    padding 10px 0
    margin 30px 0
  .contact
    color $yellow
    text-decoration-line underline
.Contact
  .responsive
    margin-top 100px
    margin-bottom 300px
    @media only screen and (max-width $tablet_size)
      margin-bottom 100px
    .content
      margin-left 30px
      h3, a, p
        color $gray-body
      h3, a
        font-weight bold
      ul
        padding 0
        i
          color $yellow
          margin-top 20px
        a
          margin-left 10px
          font-family 'Roboto-Condensed'
.Login
  margin 150px 0
  a
    color $gray-body
  form
    margin-top 60px
    .access
      float right
      text-align center
      span
        margin 0 20px
    button, .access
      width 100%
      margin-bottom 20px
      @media only screen and (min-width $tablet_size)
        width 50%
        margin-top 60px
.Register
  margin 50px 0
  form
    margin-top 30px
    .half
      width 50%
      float left
      padding-right 10px
    button
      width 100%
      @media only screen and (min-width $tablet_size)
        width 50%
        margin-top 40px
.Terms p, .Privacy p
  text-align justify

.prod-item
  text-align center
  margin-bottom 50px
  h3
    color $yellow
  img.img-responsive
    display initial
  span
    color $black
  strike
    color rgba($gray-body, 0.5)
    margin-left 20px
    @media only screen and (max-width $tablet_size)
      margin-left 0
  span, strike
    @media only screen and (max-width $tablet_size)
      display block
  a
    margin-top 20px
    width 80%
    @media only screen and (max-width $tablet_size)
      width 40%

.purchase
  background-color #ebebeb
  .resume
    margin 20px 0
    @media only screen and (max-width 475px)
      text-align center
    .image
      width 20%
      color $yellow
      margin-right 10px
      p
        margin-top 10px
      img
        @media only screen and (max-width 475px)
          display initial
    .description
      width 55%
      h4
        margin-top 0
        font-family 'Roboto-Condensed-Light'
        color $black
      p
        color $gray-body
    .price
      color $black
      width 20%
      text-align right
      @media only screen and (max-width 475px)
        text-align center
    .image, .description, .price
      display inline-block
      vertical-align top
      @media only screen and (max-width 475px)
        width 100%
  .resume, .table, .cupon
    width 60%
    @media only screen and (max-width 1545px)
      width 100%
  .cupon
    border-top 1px solid rgba($gray-body, 0.3);
    padding 20px 0
    span
      color $black
    input
      width 80%
      margin-bottom 10px
      @media only screen and (max-width $tablet_size)
        width 100%
    button
      width 19%
      padding 3px 0
  table.total
    color $black
    th, td
      border none
      font-weight normal
      text-align right
    .price
      border-top 1px solid rgba($gray-body, 0.3);
