.footer
  text-align center
  color $white
  .suscribe
    background-color $gray
    padding 50px 0
    label
      color $black
      font-size 1.2em
      font-weight bold
    input
      width 45%
      margin-bottom 10px
      @media only screen and (max-width $tablet_size)
        width 100%
    button
      padding 2px 30px
      @media only screen and (max-width $tablet_size)
        display block
        width 100%
  .contact
    background-color $black
    padding 20px 0
    a
      font-size 1.2em
    .responsive
      margin-left 0
      @media only screen and (min-width $tablet_size)
        margin-left 12.5%
    .list-inline i
      margin-right 0
  .privacy
    background-color #181818
    padding 8px 0
    span
      color $white
      margin 0 20px
      @media only screen and (max-width $tablet_size)
        margin 0 10px
